<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<HTML>
    <HEAD>
        <TITLE>{% if page_title is defined %} {{ page_title }} {% else %} Masterpass Bundle {% endif %}</TITLE>
        <meta charset="utf-8">

        {% block stylesheets %}

        {% endblock %}

    </head>    

    {% block container %}

    {% endblock %}

      
</HTML>
